.product{
    width:20%;
    padding: 16px;
    text-align: center;
    border: 1px solid green;
    box-shadow: 0 2px 3px black;
    margin: 4px;
    background-color: lightblue;
    position: relative;

}

.product:hover{
    background-color: #1900ff;
    color: white;
}


